<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Well come to Open's KitWork</title>
</head>
<body>
    <div>{{ btc.price | dollar }}</div>
    <div>Open source ♥️ <a target="_blank" href="https://github.com/kitwork/kitwork">Kitwork</a></div>
</body>
</html>